#search{
    font-size: 18px;
    font-family: 'Inter', 'sans-serif';
}

#search:focus{
    outline: 1px white solid;
}
::placeholder{
    font-size: 18px;
    font-family: 'Inter', 'sans-serif';
}
.post-div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sidebar-icon{
    height: 24px;
    width: 24px;
    fill: white;
    border-color: white;
}

.community-image{
    border-radius: 50%;
    height: 48px;
    width: 48px;
}