#search{
    font-size: 18px;
    font-family: 'Inter', 'sans-serif';
}

#search:focus{
    outline: 1px white solid;
}
::placeholder{
    font-size: 18px;
    font-family: 'Inter', 'sans-serif';
}
<<<<<<< HEAD

.bell {
    animation: rotate 0.2s ease-in-out;
}

@keyframes rotate {
        0% { transform: rotate(0deg);}
        25% { transform: rotate(30deg);}
        50% { transform: rotate(0deg);}
        75% { transform: rotate(-30deg);}
        100% { transform: rotate(0deg) }
=======
.post-div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
>>>>>>> 450911f0dc4c4eb71546922547c7a3bee9ed8527
}