#search{
    font-size: 18px;
    font-family: 'Inter', 'sans-serif';
}

#search:focus{
    outline: 1px white solid;
}
::placeholder{
    font-size: 18px;
    font-family: 'Inter', 'sans-serif';
}
.post-div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}