.title-input{
        background-color: #0b222c;
        height: 38px;
        width: 70%;
        margin: 16px 16px 10px 12px;
        border-radius: 8px;
        padding: 8px;
}
.title-input:focus{
    outline: 2px white solid;
}
.description-input{
    background-color: #0b222c;
    height: 160px;
    width: 70%;
    margin: 16px 16px 10px 12px;
    border-radius: 8px;
    padding: 8px;
}
.community-dropdown-menu{
    background-color: #0b222c;
    margin: 16px 16px 10px 12px;
    height: 38px;
    border-radius: 8px;
    padding: 8px;
}