.brand-heading {
  font-size: 24px;
}
.email-input,.password-signin-input,.username-signin-input,.name-input {
    background-color: #0b222c;
    height: 36px;
    width: 90%;
    margin: 20px 16px 10px 16px;
    border-radius: 8px;
    padding: 8px;
  }

  .password-signin-input,.username-signin-input,.email-input:focus,.name-input:focus {
    outline: none;
  }

  .navbar-logo{
    text-decoration:none;
    color:black;
  }