.community-header-image{
    border-radius: 50%;
    height: 42px;
    width: 42px;
}
.community-nav-links{
    text-decoration: none;
    color: white;
}
.message-input:focus{
    outline: 1px white solid;
}