.feature-image{
    height: 48px;
    width: 48px;
}
.feature-card{
    width: 300px;
    padding: 14px 18px;
    border: 1px black solid;
    border-radius: 20px;
    margin: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}