.user-profile-img{
    border-radius: 50%;
    height: 240px;
    width: 240px;
}

.profileBox {
    min-height: 100vh;
}
.backtohome-btn:hover{
    opacity: 0.8;
    transition: 0.3s;
}
.camera-img{
    background-color: #03C988;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new{
    color: #0e394b;
}