.brand-heading {
  font-size: 24px;
}
.username-input,.password-input {
  background-color: #0b222c;
  height: 38px;
  width: 90%;
  margin: 16px 16px 10px 12px;
  border-radius: 8px;
  padding: 8px;
}
.username-input:focus {
  outline: none;
}
.password-input:focus {
  outline: none;
}
.login-btn {
  margin: 18px 14px;
}
.welcome-info{
    display: visible;
}
@media only screen and (max-width: 768px) {
  .welcome-info {
    display: none;
  }
}
